#buttons-container {
    width: 65%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

#buttons-container div{
    display: flex;
    flex-direction: column;
}

#buttons-container span:first-of-type{
    font-size: 4vmin;
    margin-bottom: 10px;
}

#buttons-container span:first-of-type::selection{
    text-decoration: none;
}

.distance-button {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1vmin 2vmin 1vmin 2vmin;
    font-size: 5vmin;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.distance-button:hover {
    background-color: black;
    color: white;
}

.distance-button::selection {
    text-decoration: none;
}