#distances-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

[class$="-player-container"] {
    display: inline-flex;
    flex-direction: column;
}

.player {
    font-size: 5vmin;
    font-weight: 500;
}

.distance-title {
    font-size: 3vmin;
    align-self: center;
}

.distance {
    font-size: 4vmin;
    font-weight: 600;
    align-self: center;
}