#endgame-container {
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#endgame-message {
    font-size: 5vmin;
    font-weight: 600;
    margin-bottom: 20px;
}

#new-game-button {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    font-size: 3vmin;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

#new-game-button:hover {
    background-color: black;
    color: white;
}

#new-game-button::selection {
    text-decoration: none;
}